<section>
  lista de analisis clinicos
  <a href="{% url 'newClinicalAnalysis' %}">Nueva solicitud</a>
  <a href="{% url 'home' %}">atras</a>

  <table id="table_id" class="display table table-striped">
    <thead class="table-light">
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for sAnalysis in analysis %}
      <tr>
        <td>{{sAnalysis.pacient}} {{sAnalysis.last_name}}</td>
        <td>{{sAnalysis.kind}}</td>
        <td>
          <div class="d-flex gap-4">
            <a
              href="{% url 'deleteAnalysis' sAnalysis.id %}"
              class="btn btn-primary w-50"
              >Eliminar
              <i class="fa-solid fa-trash"></i>
            </a>
            <a
              href="{% url 'editAnalysis' sAnalysis.id  %}"
              class="btn btn-danger w-50"
              >Editar
              <i class="fa-solid fa-pencil"></i>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
