{% extends 'base.html' %}{% load static %} {% block content %}

<section>
  <a href="{% url 'newPacient' %}">Insertar paciente</a>
  <table id="table_id" class="display table table-striped">
    <thead class="table-light">
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for pacient in pacients %}
      <tr>
        <td>{{pacient.name}} {{pacient.last_name}}</td>
        <td>{{pacient.age}}</td>
        <td>{{pacient.sex}}</td>
        <td>
          <div class="d-flex gap-4">
            <a
              href="{% url 'deletePacient' pacient.id %}"
              class="btn btn-primary w-50"
              >Eliminar
              <i class="fa-solid fa-trash"></i>
            </a>
            <a
              href="{% url 'editPacient' pacient.id  %}"
              class="btn btn-danger w-50"
              >Editar
              <i class="fa-solid fa-pencil"></i>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock content %}
