{% extends 'base.html' %} {% load static %} {% block content %}

<section class="container">
  {% if request.user.category == '1' %}
  <div>
    <h1>Doctor</h1>
    {% include 'home/doctor.html' %}
  </div>
  {% endif %} {% if request.user.category == '2' %}

  <div>
    <h1>Laboratorista</h1>
    {% include 'home/lab.html' %}
  </div>
  {% endif %} {% if request.user.category == '3' %}

  <div>
    <h1>Bioquimico</h1>
    {% include 'home/bio.html' %}
  </div>
  {% endif %}
  <a href="{% url 'logout' %}">salir</a>
</section>

{% endblock content %}
